{% extends 'base.html.twig' %}

{% block title %}Modification de Race{% endblock %}

{% block body %}
    <h1>Modification de Race</h1>

    {{ include('breed/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_breed_index') }}">Retour à la ligne</a>

    {{ include('breed/_delete_form.html.twig') }}
{% endblock %}
