{% extends 'base.html.twig' %}

{% block title %}Nouveaux Animaux{% endblock %}

{% block body %}
    <h1>Ajout d'un nouvel animal</h1>

    {{ include('animals/_form.html.twig') }}

    <a href="{{ path('app_animals_index') }}">retour à la liste</a>
{% endblock %}
